.promotion .items-content {
    margin: 60px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 80px;
}

.promotion .items-content .item {
    display: flex;
    flex-direction: column;
    width: 25rem;

    justify-content: end;

    padding: 20px;
    box-sizing: border-box;

    background-color: white;
    border: gray 1px solid;
    border-radius: 20px;
}

.promotion .items-content .item img {
    align-self: center;
    aspect-ratio: 2/2;
    margin-top: 10px;
    width: 300px;
}

.promotion .items-content .item h3 {
    font-size: 22px;
}

.promotion .items-content .item p {
    margin-top: 5px;
    font-size: 22px;
}

.promotion .items-content .item .monetary-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.promotion .items-content .item .monetary-info .value{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 28px;
}

/*@media screen and (max-width: 1024px) {*/
/*    .promotion .items-content .item {*/
/*        height: 35vh;*/
/*        width: 80vw;*/
/*        padding:  50px 100px 0 100px;*/
/*        text-align: center;*/
/*    }*/

/*    .promotion .items-content .item h3 {*/
/*        height: 20%;*/
/*        text-align: start;*/
/*        font-weight: 500;*/
/*        font-size: 50px;*/
/*    }*/

/*    .promotion .items-content .item p {*/
/*        font-size: 55px;*/
/*    }*/

/*    .promotion .items-content .item .monetary-info .value{*/
/*        font-size: 65px;*/
/*    }*/
/*}*/