@media screen and (min-width: 600px) {
    footer {
        height: 30%;
    }

    footer .footer-navigation {
        height: 100%;
        display: block;
    }

    footer .nav {
        text-align: start;
        margin: 40px 0;
        width: 100%;
    }

    footer .nav a{
        font-size: 40px;
        font-weight: 520;
    }

    footer .newsletter {
        width: 100%;
        margin: 40px 30px;
    }

    footer .newsletter form {
        width: 100%;
        align-items: start;
        display: block;
    }

    footer .newsletter form .input {
        display: flex;
        width: 100%;
    }

    footer .newsletter form input {
        width: 95%;
    }

    footer .newsletter form .input label{
        margin: 0 0 20px 0;
        font-size: 42px;
    }

    footer .newsletter button{
        width: 98%;
        height: 90px;
        font-size: 60px;

        margin: 0 !important;
    }

    footer .footer-social .media{
        align-items: center;
    }

    footer .footer-social .media i{
        cursor: pointer;
        font-size: 60px;
    }

    footer .footer-social .payments{
        align-content: start;
        text-align: end;
    }

    footer .footer-social .payments img{
        height: 7vh;
    }
}