@media only screen and (min-width: 425px) {
    .header-content {
        display: flex;
        justify-content: space-between;
        margin-left: 0 !important;
    }

    .promotion .product-filter .filter{
        display: none !important;
    }

    .promotion .product-filter{
        text-align: end;
        align-items: start;
    }

    .promotion .product-filter-mobile {
        display: block ;
        align-items: center;
        align-content: center;

        text-align: center;
    }

    .promotion .product-filter-mobile input{
        width: 78vw !important;
        margin-top: 20px;
        border-right: darkgray 1pt solid;
    }

    .promotion .product-filter-mobile button {
        margin-left: -8px;
        width: 80vw;
        height: 5vh;
        font-size: 40px;
        color: white;
        background-color: var(--primary-color);
        border: none;
        border-radius: 0 8px 8px 0;
        font-weight: bold;
        cursor: pointer;
    }

    .promotion .header-content p {
        font-size: 40px;
        height: 10%;
    }
}