@media screen and (min-width: 600px) {
    header {
        padding: 2em 0 !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }

    .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        height: 5em !important;
        font-size: 30px !important;
    }

    .header-icons {display: none !important;}

    #mobile-menu {
        font-size: 100px !important;
        display: flex !important;
    }

    #mobile-cart-icon {
        display: flex !important;
        font-size: 100px !important;
    }

}
