#regForm {
    background-color: #ffffff;
    margin: 2em 1em;
    padding: 40px;
    border: 1px solid var(--white-gray-color);
    border-radius: 5px;

}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: var(--error-color);
    color: white;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

.tab h3{
    font-size: 30px;
    text-align: center;
}

.tab #schedule-date{
    font-size: 40px;
    padding: 10px 5px;
    text-align: center;
    border: 1px solid var(--white-gray-color);
    border-radius: 20px;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: var(--success-color);
}

#nextBtn,#prevBtn {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--white-gray-color);
    font-size: 30px;
}

#nextBtn.last-step {
    background-color: var(--success-color);
    color: var(--white-color);
}

.qr-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-step .text-section h3{
    margin: 10px;
}

.qr-step .amount-value{
    font-size: 45px;
    color: var(--gold-color);
    font-weight: bolder;
}


.qr-content .copy-section {
    border-radius: 20px;

    display: flex;
    background-color: var(--gray-color);
    width: 100%;
}


.qr-content .copy-section input {
    display: flex;
    overflow-x: hidden;
    font-size: 40px;

    background-color: var(--white-color);
}

.proof-file-input {
    display: flex;
    margin: 2em 0;
    border-radius: 20px;
    background-color: var(--gray-color);
    color: var(--white-color);
}

.proof-file-input input {
    padding: 30px 40px;
    font-size: 40px;
}

.proof-file-input input.invalid {
    border-radius: 20px;
}

.tab .date-picker {
    margin-bottom: 5em;
}

.tab .field-input {
    display: flex;
    flex-direction: column;
}


.tab .field-input label {
    align-items: start;
    margin: 10px 0;
    font-size: 30px;
}

.tab .field-input input {
    width: 98%;
    margin: 8px 0 20px 0;
    font-size: 40px;
    border-radius: 9px;
    padding: 13px;
}