:root {
    --primary-color: #1899d5;
    --white-color: #FFFFFF;
    --gold-color: #FFC400;
    --error-color: #ff0000;
    --success-color: #3f8b38;
}

html, body{
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    color: #A5A1A1;
}

button {
    color: var(--white-color);
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    padding: 2em 2em;
}

.error {background-color: var(--error-color)}
.success {background-color: var(--success-color)}

.small-text {
    font-size: 20px !important;
    margin-bottom: 30px;
}

.loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#toast {
    width: 60vw;
    height: 5vh;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    color: white;
    font-size: 40px;

    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 1;
}
