.input-entry {
    padding: 10px;
    width: 20vw;
    height: 2.7vh;
    font-size: 18px;
    border: darkgray solid 1pt;
    /*border-right: none;*/
    border-radius: 10px;
}

.input-entry:focus {
    border: 2px solid var(--primary-color);
    border-right: none;
    outline: none;
}

@media screen and (max-width: 1024px){
    .input-entry {
        margin: 0 0 30px 0;
        width: 38vh;
        height: 5vh;
        font-size: 38px;
        border-radius: 10px;
    }
}