:root {
    --primary-color: #3f8b38;
}

html, body {
    width: 85vw !important;
}

.add-products {
    width: 100%;
    height: 55vh;
    display: flex;
}

.container {
    padding-left: 7em !important;
}

.products {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 16px 0;
}

.add-products-fields {
    width: 50%;
    flex-wrap: wrap;
    gap: 100px;
}

.add-products-fields .field {
    display: block;

    width: 30vw;
    height: 10vh;
}

.add-products-fields .field button {
    width: 21vw;
    height: 4vh;
    font-size: 20px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
}

select {
    padding: 10px 20px;
    font-size: 20px;

    outline: none;
    border-radius: 10px 10px 0 0;
}

.header-product-table {
    font-size: 20px !important;
}

table {
    margin: 16px 0;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th.name, td.name{
    width: 50%;
}

th.amount {
    width: 20%;
}

th.sufix {
    width: 10%;
}

th.image {
    width: 10%;
}

