:root {
    --primary-color: #3f8b38;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

header {
    padding: 1em 7em;
    display: flex;
    align-items: center;
}

hr {
    color: #A5A1A1;
}

.error {color: red}

.input-entry {
    padding: 10px;
    width: 20vw;
    height: 2.7vh;
    font-size: 18px;
    border: darkgray solid 1pt;
    /*border-right: none;*/
    border-radius: 10px;
}

.input-entry:focus {
    border: 2px solid var(--primary-color);
    border-right: none;
    outline: none;
}

.container {
    padding: 10px 9em;
}

.header-logo {
    width: 70%;
}

.header-icons {
    width: 20%;
    text-align: end;
}

.header-icons button {
    color: var(--primary-color);
    font-size: 39px;
    background: none;
    border: none;
    cursor: pointer;
}

.banner-section {
    display: flex;
    width: 100%;
    height: 60vh;
    max-height: 60vh;

    overflow: hidden;
    box-sizing: border-box;
}

.banner-section img {
    width: 100vw;
    height: 60vh;
}

.promotion {
    width: 100%;
}

.promotion .header-content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.promotion .header-content p {
    font-size: 20px;
}

.promotion .product-filter {
    display: flex;
    margin-right: 0;
    gap: 10px;

    align-items: center;
}

.promotion .product-filter div {
    display: flex;
    align-items: center;
}

.promotion .product-filter button {
    margin-left: -8px;
    width: 3vw;
    height: 5vh;
    font-size: 25px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
}

.promotion .items-content {
    margin: 60px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.promotion .items-content .item {
    width: 19vw;
    height: 50vh;
    padding: 20px;
    box-sizing: border-box;

    background-color: white;
    border: gray 1px solid;
    border-radius: 20px;

    text-align: start;
}

.promotion .items-content .item img{
    width: 20em;
    height: 20em;
}

.promotion .items-content .item h3 {
    width: 100%;
    height: 10%;
    margin: 10px 0 10px 0;
    font-size: 22px;
}

.promotion .items-content .item p {
    height: 10%;
    margin-top: 5px;
    font-size: 22px;
}

.promotion .items-content .item .monetary-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.promotion .items-content .item .monetary-info .value{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 28px;
}

footer {
    width: 100%;
    height: 20em;
    background-color: #F9F9F9;
}

footer .footer-navigation {
    height: 60%;
    display: flex;
}

footer .nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

footer .nav a{
    cursor: pointer;
    margin: 6px;
    font-size: 20px;
    font-weight: 400;
}

footer .newsletter {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
}

footer .newsletter form {
    align-items: end;
    display: flex;
}

footer .newsletter form .input {
    display: flex;
    flex-direction: column;
}

footer .newsletter form .input label{
    margin: 0 0 10px 0;
}

footer .newsletter button{
    margin-left: -8px;
    width: 10vw;
    height: 5vh;
    font-size: 20px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    cursor: pointer;
}

footer .footer-social {
    display: flex;
}

footer .footer-social .media{
    display: flex;
    flex-direction: row;
    width: 30vw;
    align-content: center;
    margin: 20px 0;
    gap: 10px;
}

footer .footer-social .media i{
    cursor: pointer;
    font-size: 40px;
    color: var(--primary-color);
}

footer .footer-social .payments{
    width: 100%;
    align-content: center;
    text-align: end;
}

footer .footer-social .payments img{
    height: 12vh;
}

.small-text {
    font-size: 20px !important;
    margin-bottom: 30px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.promotion .product-filter-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 2em 7em;
        display: flex;
    }

    .container {
        padding: 10px 4em;
    }

    .header-logo {
        font-size: 25px;
    }

    .header-icons {
        width: 50%;
    }

    .header-icons button {
        font-size: 70px;
    }

    .header-content {
        margin-left: 40px;
    }

    .banner-section img {
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }

    .banner-section {
        display: flex;
        width: 100%;
        height: 30vh;
        max-height: 60vh;

        box-sizing: border-box;
    }

    .promotion .product-filter .filter{
        display: none;
    }

    .promotion .product-filter{
        text-align: end;
        align-items: start;
    }

    .promotion .product-filter-mobile {
        display: block;
        align-items: center;
        align-content: center;

        text-align: center;
    }

    .promotion .product-filter-mobile input{
        width: 78vw !important;
        margin-top: 20px;
        border-right: darkgray 1pt solid;
    }

    .promotion .product-filter-mobile button {
        margin-left: -8px;
        width: 80vw;
        height: 5vh;
        font-size: 40px;
        color: white;
        background-color: var(--primary-color);
        border: none;
        border-radius: 0 8px 8px 0;
        font-weight: bold;
        cursor: pointer;
    }

    .promotion .items-content .item {
        height: 35vh;
        width: 80vw;
        padding:  50px 100px 0 100px;
        text-align: center;
    }


    .promotion .items-content .item img{
        width: 45vw;
        height: 19vh;
    }

    .promotion .header-content p {
        font-size: 40px;
        height: 10%;
    }

    .promotion .items-content .item h3 {
        height: 20%;
        text-align: start;
        font-weight: 500;
        font-size: 50px;
    }

    .promotion .items-content .item p {
        font-size: 55px;
    }

    .promotion .items-content .item .monetary-info .value{
        font-size: 65px;
    }

    footer .footer-navigation {
        margin: 5em 0;
        height: 30vh;
        display: block;
    }

    footer .nav {
        margin: 40px 0;
        width: 60vw;
    }

    footer .nav a{
        font-size: 34px;
        font-weight: 520;
    }

    footer .newsletter {
        margin: 40px 0;
        width: 30vw;
        font-size: 22px;
    }

    footer .newsletter form {
        margin-left: -20px;
        align-items: start;
        display: block;
    }

    footer .newsletter form .input {
        display: flex;
        flex-direction: column;
    }

    footer .newsletter form .input label{
        margin: 0 0 20px 0;
        font-size: 42px;
    }

    .input-entry {
        margin: 0 0 30px 0;
        width: 38vh;
        height: 5vh;
        font-size: 38px;
        border-radius: 10px;
    }

    footer .newsletter button{
        width: 39vh;
        height: 5vh;
        font-size: 50px;
    }

    footer .footer-social .media{
        align-items: center;
    }

    footer .footer-social .media i{
        cursor: pointer;
        font-size: 60px;
    }

    footer .footer-social .payments{
        width: 100%;
        align-content: start;
        text-align: end;
    }

    footer .footer-social .payments img{
        height: 7vh;
    }

    .small-text {
        font-size: 40px !important;
        margin-bottom: 60px;
    }

    .spinner {
        width: 70px;
        height: 70px;
    }

    .loading {
        height: 8vh;
    }
}
