header {
    padding: 1em 7em;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 70%;
}

.header-icons {
    width: 20%;
    text-align: end;
}

.header-icons button {
    color: var(--primary-color);
    font-size: 39px;
    background: none;
    border: none;
    cursor: pointer;
}

